.btn {
  text-transform: uppercase;
  padding: 0.5rem 1.3125rem;
  letter-spacing: 1.4px;
  transition: all 300ms;
  font-size: 1rem;
  line-height: 50px;
  font-weight: 600;
  border: 1px solid $color-licorice;
  border-radius: 50px;
  @media(max-width: $bp-small){
    font-size: 0.875rem;
  }
  &:hover {
    background-color: $color-licorice;
    color: $color-linen!important;
    cursor: pointer;
  }
  &_white {
    @extend .btn;
    color: $color-linen!important;
    border: 1px solid $color-linen;
    &:hover {
      background-color: $color-linen;
      color: $color-red!important;
      border: 1px solid $color-white;
      cursor: pointer;
    }
  }
  &_red {
    @extend .btn;
    color: $color-red!important;
    border: 1px solid $color-red;
    &:hover {
      background-color: $color-red;
      color: $color-white!important;
      border: 1px solid $color-red;
      cursor: pointer;
    }
  }
}
