.btn {
  text-transform: uppercase;
  padding: 0.5rem 1.3125rem;
  letter-spacing: 1.4px;
  transition: all 300ms;
  font-size: 1rem;
  line-height: 50px;
  border: 1px solid $color-licorice;
  border-radius: 50px;
  &:hover {
    background-color: $color-licorice;
    color: $color-linen!important;
    cursor: pointer;
  }
  &_1 {
    @extend .btn;
    color: $white;
    background-color: $color-licorice;
    border: 1px solid $color-licorice;
    font-weight: 100;
    &:hover {
      opacity: 0.8;
      color: $color-linen;
      cursor: pointer;
    }
  }
}
