// Base ninja forms styling
.gform_wrapper form {
  display: flex;
  flex-direction: column;
  input[type="button"] {
    line-height: normal;
  }

  .field-wrap {
    position: relative;
  }

  .active-label {
    background-color: $color-licorice;
    color: $white;
    font-size: .6rem;
    padding: 5px !important;
    z-index: 1;
    display: block;
  }

  .textarea-wrap {

    label {
      top: 12px;
      bottom: auto;
    }
  }
  .list-radio-wrap div > label {
    position: static;
    color: $black;
    font-weight: 500 !important;
  }
  
  .list-radio-wrap li:before {
    content: none !important;
  }
  
  
  input,
  input::placeholder,
  textarea,
  textarea::placeholder {
    font-size: 1rem;
    font-family: Inter;
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: 300;
    color: rgb(29, 8, 0, .4)!important;
    // background-color: $white;
    appearance: none;
    border-radius: 0;
  }
  textarea::placeholder {
    transform: translateY(-6px)
  }
  
  button,
  input,
  textarea {
    outline: none;
  }
  
  input,
  textarea {
    border: 1px solid rgb(29, 8, 0, .5);
  }
  
  textarea {
    max-height: 150px;
    resize: none;
  }
  
  input:focus,
  textarea:focus {
    border-color: $color-licorice;
  }
  
  .nf-form-fields-required,
  .nf-form-title,
  .ninja-forms-req-symbol {
    display: none;
  }
  
  .nf-error-msg {
    font-family: Inter;
    font-size: 0.8rem;
  }
  
  // RADIO BUTTONS
  
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      border: 0;
      appearance: none;
      height: 20px;
      margin: 0 !important;
  }
  
  .list-checkbox-wrap .nf-field-element li input, .list-radio-wrap .nf-field-element li input {
    min-width: 100%;
  }
  
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: $grey-d;
      margin-left: 0 !important;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 15px;
      height: 15px;
      border: 1px solid $grey;
      border-radius: 100%;
      background: transparent;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 11px;
      height: 11px;
      background: $brand;
      position: absolute;
      top: 3px;
      left: 2px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  
}






// CONTACT MODAL FORM SPECIFIC STYLES
.modal #gform_1 .validation_error {
  display: none!important;
}
.modal #gform_1 .gform_heading {
  display: none!important;
}
.gform_wrapper.gravity-theme .gform_validation_errors  {
  display: none;
}
  // This accounts for padding issue in Gravity form where I had to adjust the height of the textarea to align the left column inputs
  #validation_message_1_8 {
    transform: translatey(89px);
}

.modal #gform_1 .gform_body {

  .gfield_required {
    padding-left: 0;
  }

  .gfield_required_text {
    font-family: Inter;
    font-size: 1rem !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 135.023%;
    color: rgba(29, 8, 0, 0.5);
  }

  .gform_fields  {
    @media(max-width: $bp-small){
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
  .gfield:nth-of-type(1) {
    @media(max-width: $bp-small){
      order: 1;
    }
  }
  .gfield:nth-of-type(2) {
    @media(max-width: $bp-small){
      order: 4;
    }
  }
  .gfield:nth-of-type(3) {
    @media(max-width: $bp-small){
      order: 3;
    }
  }
  .gfield:nth-of-type(4) {
    @media(max-width: $bp-small){
      order: 4;
    }
  }
  .gfield:nth-of-type(5) {
    @media(max-width: $bp-small){
      order: 3;
    }
  }
  .gfield:nth-of-type(6) {
    @media(max-width: $bp-small){
      order: 6;
    }
  }
  .gfield:nth-of-type(7) {
    @media(max-width: $bp-small){
      order: 3;
    }
  }
  .gfield:nth-of-type(8) {
    @media(max-width: $bp-small){
      order: 8;
    }
  }

  .ginput_container {
    @media(max-width: $bp-small){
      width: 100%!important;
    }
  }

  .ginput_container_textarea {
    padding-right: 0!important;
    height: 20px;
  }

  .gfield--type-email {
    @media(max-width: $bp-small){
      margin-top: 0;
    }
  }
  .gfield {
    @media(max-width: $bp-small){
      margin-bottom: 32px;
    }
  }

  .gfield_visibility_visible {

  }

  .ginput_container {
    width: 95%;
  }

  // ERROR STYLES
  .validation_message {
    background: transparent;
    border: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .gfield_label, input::placeholder {
    font-family: Inter;
    font-size: 1rem!important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 135.023%; 
    color: rgb(29, 8, 0, .5);
    @media (max-width: $bp-small) {
      font-size: 0.875rem;
    }
  }

  .textarea {
    height: 96px;
    font-family: Inter;
    font-size: 1rem !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 135.023%;
    color: rgba(29, 8, 0, 0.5)!important;
  }
  .textarea::placeholder {
    // color: rgba(29, 8, 0)!important;
  }

  input {
    margin-bottom: 10px;
  }
  input[type=text], input[type=text] {
    font-family: Inter;
    font-size: 1rem !important;
  }
  .gfield_required {
    color: rgb(29, 8, 0, .5)!important;
    margin-left: 0!important;
  }
  #field_1_6 {
    padding-right: 4px;
    @media(max-width: $bp-small){
      padding-right: 0;
    }
  }
  
  li {
    margin-bottom: 0;
  }
  //LEFT COL
  li:nth-child( -n + 4 ) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 16px;
    float: left;
    padding-right: 63px;
    @media(max-width: $bp-small){
      width: 100%;
      padding-right: 0;
    }
  }
  // RIGHT COL
  li:nth-child( n + 5 ) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 16px;
    float: none;
    @media(max-width: $bp-small){
      width: 100%;
      padding-right: 0;
    }
  }
  .ginput_container_textarea {
    padding-right: 12px;
    @media(max-width: $bp-small){
      padding-right: 0;
    }
  }
  .left {
    @media(max-width: $bp-small){
      width: 100%;
      padding-right: 0;
    }
    input {
      width: 100%;
    }
  }
  .right {
    @media(max-width: $bp-small){
      width: 100%;
      padding-right: 0;
    }
    input {
      width: 100%;
    }
  }
}

.modal #gform_1 .gform_footer{
  position: relative;
  .gform_button {
    text-transform: uppercase;
    padding: 0 1.3125rem;
    letter-spacing: 0.63px;
    transition: all 300ms;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    border: 1px solid $color-licorice;
    border-radius: 50px;
    color: $color-red!important;
    border: 1px solid $color-red;
    margin-left: 50%;
    position: absolute;
    transform: translate(14px, -60px);
    background-color: $color-white;
    @media(max-width: $bp-small){
      font-size: 0.875rem;
      margin-left: unset;
      width: auto;
      transform: translateY(79px);
    }
    &:hover {
      background-color: $color-red;
      color: $color-white!important;
      border: 1px solid $color-red;
      cursor: pointer;
    }
  }
}
    // End Contact Form specific styles
