#wpadminbar {
  display: none;
}

#page {
  margin-top: 0;
}

html {
  min-height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html :where(.wp-block) {
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  opacity: 1;
  transition-duration: 0.3s;
  transition-property: opacity;

  &.fade {
    opacity: 0;
  }

  @media (max-width: 800px) {
    overflow-x: hidden;
  }
}

.container {
  max-width: 1400px;
  margin: auto;
  width: 90%;

  &--small {
    max-width: $content-max-width-small;
    margin: auto;
    width: calc(100vw - 15%);
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

*:focus {
  outline: none;
}

.margin-top {
  margin-top: 100px;
}

.center {
  text-align: center;
}

.texture {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% auto;
  }
}

.wp-block-columns {
  @extend .container;

  &:before,
  &:after {
    content: none;
  }
}

::selection {
  background: rgb(214, 73, 54, 0.4); /* WebKit/Blink Browsers */
}

// Gutenberg default block stlying
.alignwide {
  max-width: 56.25rem;
  width: 100%;
  margin: auto;
}

.has-linen-background-color {
  background-color: $color-linen;
}

html :where(.is-reusable),
html :where(.is-reusable) :where(.wp-block) {
  max-width: none;
}

.parallax-wrapper {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  transform-style: preserve-3d;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    transform: rotate(0.0001deg);
    perspective: 1000;
    backface-visibility: hidden;
    will-change: transform;
  }
}

.error404 {
  background-color: $color-linen;
}
.error404 footer {
  display: none!important;
}


//Tweak Page Hero for Meet Page
.page-id-626 #page #main .content .page-hero .desktop-image {
  // height: unset; 
  // max-height: 45vh;
  min-height: 51vh!important;
}


.wp-block-separator {
  height: 1px;
  background-color: $color-licorice;
  border: none;
} 

.text-align-center {
  @media(max-width: 800px){
    text-align: center;
  }
}

.robust-agreements {
  @media(max-width: 800px){
    margin-top: 48px;

  }
}