html {
  min-height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: "smooth";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

main {
  position: relative;
}

body {
  margin: 0px;
  padding: 0px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


#wpadminbar {
  display: none;
}