@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400..500&display=swap");


html,

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {



  @media (max-width: $bp-small) {

  }
  @media (min-width: 1400px) {


  }

}
h2 {

  @media (max-width: $bp-small) {

  }
}
h3 {


  @media (max-width: $bp-small) {

  }
}
h4 {

}
h5 {

}

h6,
h6 .h6 {

  @media (max-width: $bp-small) {

  }
}

p,
i {


  @media (max-width: $bp-small) {

  }
}

p {


  &.major {


    @media (max-width: $bp-small) {

    }
  }

  &.minor {

    @media(min-width: 800px) and (max-width: 1200px){

    }

    @media (max-width: $bp-small) {

    }
  }

  &.italic, i {
    font-style: italic;
  }
}

strong,
b {
  font-weight: $bold;
}

button,
a {

}

a {

}
a:not(.button):visited {

}

li {

}

li {
  @media (max-width: $bp-small) {

  }
}


ul  {
  li {

  }
}

ol li {
}


hr {
  border: 0;
  border-top: 1px solid #182b3e;
  opacity: 0.25;
}
