/* =Variables
-------------------------------------------------------------- */


//IMPORTED FONTS
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Delicious+Handrawn&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lilita+One&family=Oswald:wght@700&family=Staatliches&display=swap');


//COLORS
$color-black: #0A0A0A;
$color-white: #FFFFFF;


//MEDIA QUERY WIDTHS
$bp-small: 800px;
$bp-medium: 1024px;
$bp-large: 1200px;
$bp-xlarge: 1700px;
$gutter: 0px;


//FONTS
$headerSans: "Helvetica";
$mainSans: "Work Sans";
$header: "Helvetica";

//FONT WEIGHTS
$regular: 300;
$semi: 400;
$bold: 500;


