/* =Variables
-------------------------------------------------------------- */


//IMPORTED FONTS
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Delicious+Handrawn&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lilita+One&family=Oswald:wght@700&family=Staatliches&display=swap');


//COLORS
$color-red: #D64936;
$color-linen: #F7F4F0;
$color-white: #FFFFFF;
$color-licorice: #1D0800;

//PLACEHOLDER
$bp-small: 800px;
$bp-medium: 1024px;
$bp-large: 1200px;
$bp-xlarge: 1900px;
$gutter: 0px;
$image-height: 400px;
$content-max-width-large: 1400px;
$content-max-width: 1400px;
$content-max-width-small: 720px;
$spacing-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;
$spacing-xlarge: 10rem;

//FONTS
$header: "Inter";
$body: "Inter";
$sans: 'Helvetica', sans-serif;
$title: 'Helvetica', sans-serif;

//FONT WEIGHTS
$regular: 300;
$semi: 400;
$bold: 500;

//CAME WITH THEME
$base-body-color: #fff;
$icon-color: #4D4E50;
$primary-font-color: #2a2a2a;
$link-color: #2a2a2a;
$grey-l: #edede8;
$grey: #9a9a9a;
$grey-d: #575757;
$white: #FFFFFF;
$black: #2a2a2a;
$brand: #2a2a2a;
