

.banner {
    .has-image-banner {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 1.25rem;
        grid-gap: 4rem;
        border-radius: 10px;
        @media(max-width: $bp-small){
            grid-template-columns: 1fr;
            grid-gap: 1.25rem;
        }
        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                object-fit: cover;
                width: 100%;
                max-width: 100%;
                @media(max-width: $bp-small){
                    width: 100%;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                font-size: 1.375rem;
            }
            .quote {
                font-weight: 600;
            }
            .quoter {
                margin-bottom: 0;
                font-style: italic;
            }
        }
    }
    .banner {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 50px;
        grid-gap: 4rem;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        @media(max-width: $bp-small){
            grid-template-columns: 1fr;
            grid-gap: 1.25rem;
        }
        &:hover .btn_white {
            background-color: $color-linen;
            color: $color-red!important;
            border: 1px solid $color-white;
        }

        h4 {
            margin-bottom: 0;
            @media(max-width: $bp-small){
                text-align: center;
            }
        }
        .right, .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media(max-width: $bp-small){
                align-items: center;
            }
        }


    }
}