.banner-wrapper {
    .has-image-banner {
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        padding: 1.25rem;
        grid-gap: 4rem;
        border-radius: 10px;
        @media (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-gap: 1.25rem;
        }
        .desktop {
            @media(max-width: 800px){
                display: none;
            }

        }
        .mobile {
            @media(min-width: 800px){
                display: none;
            }
        }
        .left {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: cover;
                width: 100%;
                max-width: 100%;
                max-height: 13.75rem;
                mask-image: url("../images/banner/banner-mask.svg");
                mask-size: cover;
                mask-repeat: round;
                mask-position: unset;

                @media (max-width: $bp-small) {
                    width: 100%;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 5%;
            @media (max-width: $bp-small) {
                padding-right: unset;
            }
            p {
                // font-size: 1.375rem;
            }
            .quote {
                font-weight: 600;
                font-size: 1.2rem;
                @media(min-width:800px){
                    font-size: 1.4rem;
                }
            }
            .quoter {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .banner {
        display: grid;
        grid-template-columns: 3fr 1.5fr;
        padding: 50px;
        grid-gap: 4rem;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        @media (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-gap: 1.25rem;
        }
        &:hover .btn_white {
            background-color: $color-linen;
            color: $color-red !important;
            border: 1px solid $color-white;
        }
        h4 {
            margin-bottom: 0;
            @media (max-width: $bp-small) {
                text-align: center;
            }
            @media (min-width: 1300px) {
                font-size: 1.7rem;
            }
        }

        p {
            margin-top: $spacing-small;
        }

        .right,
        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width: $bp-small) {
                align-items: center;
            }
        }
        .right {
            align-items: center;
            .btn-wrapper {
                a {
                    @media(max-width: 900px){
                        font-size: .8rem;
                    }
                }
            }
        }
        .left {
            .quote {
                @media(max-width: $bp-small){
                    text-align: center;
                }
            }
        }
    }
}
