

.career-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8.125rem;
    @media(max-width: $bp-small){
        grid-template-columns: 1fr;
        grid-gap: 3.125rem;
    }
    &__left {
        padding-right: 8%;
        @media(max-width: $bp-small){
            padding-right: 0;
            text-align: center;
        }
        h3 {
            padding-right: 8%;
            @media(max-width: $bp-small){
                padding-right: 0;
            }
        }
        img {
            object-fit: cover;
            width: 100%;
            margin-bottom: 2rem;
            mask-image: url("../images/career-cta/career-cta-mask.svg");
            mask-size: cover;
            mask-repeat: round;
            mask-position: unset;
        }
    }
    &__right {
        .quote-card {
            background-color: $color-white;
            padding: 1.5rem;
            margin-bottom: 1.75rem;
            border-radius: 10px;
            .quote {
                font-weight: 600;
            }
            .quoter {
                font-style: italic;
            }
        }

    }
}