


.footer {
    height: 20vh;
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
            @media(max-width: 800px){
                display: block;
            }
            a, p {
                display: inline;
                float: left;
                padding-right: 2.5rem;
                cursor: pointer;
                font-size: 1.4rem;
                margin-bottom: 0;
            }
            p {
                &:hover + span {
                    opacity: .3;
                }
            }
            span {
                opacity: 0;
                transition: .3s;
                font-size: 1.2rem;
            }
        }
        .right {

        }
    }
}