

.graphic-cards {
    .cards-wrapper {
        display: grid;
        grid-gap: 1.25rem;
        display: flex;
        @media(max-width: 800px){
            display: block;
            padding-bottom: 20px;
        }
    }
    .card {
        flex-grow: 1;
        flex-basis: 0;

        display: flex;
        flex-direction: column;
        @media(max-width: 800px){
            padding-bottom: 1.25rem;
        }
        img {
            height: 28.125rem;
            object-fit: contain;
            width: 100%;
        }
        &__top {
            background-color: $color-white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 2.25rem;
            .desktop-image {
                @media(max-width: 800px){
                    display: none;
                }
            }
            .mobile-image {
                @media(min-width: 800px){
                    display: none;
                }
            }
        }
        &__bottom {
            flex: 1;
            background-color: $color-licorice;
            padding: 1.5rem;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        p {
            font-style: italic;
            color: $color-white;
            margin-bottom: 0;
        }
        h5 {
            color: $color-white;
            margin-bottom: 1rem;
        }
    }
}