


.navigation {
    background-color: $color-gray;
    &__top {
        background-color: $color-gray;
        padding-top: 120px;
        .text-logo-wrapper {
            position: relative;
            margin-left: -10px;
            img {
                width: 100px;
            }
        }
        .navigation-menu {
            display: flex;
            padding-left: 0;
            li {
                padding-right: 10px;
            }
            li.active {
                color: $color-yellow
            }
        }
        .nav-links-wrapper {

        }
    }
}