.hero {
  position: relative;
  background-color: $color-linen;
  .hero-container {
    @media (min-width: 1200px) {
      max-width: 1400px;
      margin: auto;
      width: 90%;
    }
  }
  .monitor-white-bars {
    @media (min-width: 1200px) {
      position: absolute;
      background-color: $color-white;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 24%;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    padding-top: 4.5rem;
    position: relative;
    @media (max-width: 700px) {
      height: unset;
      padding: 3.5rem 0;
      padding-top: 1rem;
    }
    @media(max-width: 1575px) and (min-width: 1425px){
      padding-bottom: 4.5%;
    }
    @media(max-width: 1425px) and (min-width: 1350px){
      padding-bottom: 3.5%;
    }
    @media(max-width: 1350px) and (min-width: 1275px){
      padding-bottom: 2.5%;
    }
    @media(max-width: 1275px) and (min-width: 1200px){
      padding-bottom: 1.5%;
    }
    @media(max-width: 1200px) and (min-width: 800px){
      padding-bottom: 5.5%;
    }
    @media(max-width: 800px) and (min-width: 700px){
      padding-bottom: 6.5%;
    }
    h1,
    p {
      text-align: center;
      color: $color-licorice;
      padding: 0 10%;
    }
    .btn-wrapper {
      text-align: center;
      margin-top: 5%;
      a {
        color: $color-licorice;
      }
    }
  }
  &__bottom {
    position: relative;
    .desktop-image {
      height: 450px;
      width: 100%;
      @media (max-width: 700px) {
        display: none;
      }
      @media (min-width: 1200px) {
        mask-image: url("../images/hero/monitor-hero-mask.svg");
        mask-size: cover;
        mask-repeat: round;
        mask-position: unset;
      }


      // Account for padding on bottom issues
      @media(max-width: 1575px) and (min-width: 1425px){
        margin-bottom: -4.5%;
      }
      @media(max-width: 1425px) and (min-width: 1350px){
        margin-bottom: -3.5%;
      }
      @media(max-width: 1350px) and (min-width: 1275px){
        margin-bottom: -2.5%;
      }
      @media(max-width: 1275px) and (min-width: 1200px){
        margin-bottom: -1.5%;
      }
      @media(max-width: 1200px) and (min-width: 800px){
        margin-bottom: -5.5%;
      }
      @media(max-width: 800px) and (min-width: 700px){
        margin-bottom: -6.5%;
      }
      // Account for padding on bottom issues


    }

    .mobile-image {
      width: 100%;
      height: 18.75rem;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      width: 100%;
      @media (min-width: 700px) {
        display: none;
      }
    }
  }
}
