.info-cards {
  hr {
    margin: 0;
    border: 0;
    opacity: 0.6000000238418579;
    border-top: 1px solid #1D0800;
    width: 100%;
  }

  &__cards {
    display: flex;
    gap: 1.5rem;

    @media(max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.625rem;
    background: $color-white;
    img {
      width: 6.25rem;
    }
  }
  &__content {
    flex: 1;
    h5 {
      @media(max-width: $bp-small){
        font-size: 21px;
      }
      @media only screen and (max-width: 900px) and (min-width: 800px)  {
        font-size: 1.1rem;
      }
    }
    p {
      @media(max-width: $bp-small){
        font-size: 16px;
      }
    }
    .minor {
      @media(min-width: 1400px){
        font-size: .9rem;
      }
    }
  }
  &__cta-wrapper {
    .btn_red {
      font-size: .8rem;
      @media only screen and (max-width: 850px) and (min-width: 800px)  {
        font-size: .7rem;
      }
    }
    .quote {
      margin-bottom: 6px;
      @media(max-width: $bp-small){
        font-size: 16px;
      }
    }
    .italic {
      margin-bottom: 40px;
    }
  }
}
