.our-services {
    .our-services-wrapper {
        background-color: $color-white;
        border-radius: 10px;
        padding: 3.75rem;
        padding: 8rem 3.75rem 0 3.75rem;
        @media (max-width: $bp-small) {
            padding: 0.8rem;
        }
    }

    &.nobg {
        .our-services-wrapper {
            background-color: transparent;
        }

        .our-services__top {
            display: none;
        }
    }

    &__top {
        text-align: center;
        padding-bottom: 0;
        h2,
        p {
            max-width: 52.25rem;
            margin-left: auto;
            margin-right: auto;
        }
        @media (max-width: $bp-small) {
            padding: 5rem 1.2rem;
        }
        .image-wrapper {
            padding: 4rem 0 8rem 0;
            @media (max-width: $bp-small) {
                display: none;
            }
            @media (min-width: 800px) and (max-width: 950px) {
                padding: 4rem 0;
            }
            @media (min-width: 1700px) {
                padding: 3.5rem 0 7rem 0;
            }
            @media (min-width: 1900px) {
                padding: 3rem 0 3rem 0;
            }
            .image {
                height: 26vw;
                max-height: 28.125rem;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                mask-image: url("../images/our-services/our-services-mask.svg");
                mask-size: cover;
                mask-repeat: round;
                mask-position: unset;
                @media (min-height: 2400px) {
                }
            }
        }
        .mobile-image-wrapper {
            margin-top: 4.75rem;
            @media (min-width: $bp-small) {
                display: none;
            }
            .mobile-image {
                width: 100%;
                height: 45vw;
                min-height: 10rem;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                mask-image: url("../images/our-services/our-services-mobile-mask.svg");
                mask-size: cover;
                mask-repeat: round;
            }
        }
        h2 {
            margin-bottom: 2.25rem;
        }
        p {
            margin-bottom: 0;
        }
    }
    &__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 14rem;
        @media (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-gap: 0;
            padding: 5rem 1.2rem;
            padding-top: 0;
        }
        .left {
            // @media(max-width: $bp-small){
            //     text-align: center;
            // }
            h3 {
                padding-right: 17%;
                @media (max-width: $bp-small) {
                    padding-right: 0;
                    font-size: 1.6rem;
                }
            }
        }
        .right {
            transform: translatey(-1rem);
            .accordion-item {
                border-bottom: 1px solid rgb(29, 8, 0, 0.2);
                &__title {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    // h4 {
                    //     padding-top: 0!important;
                    // }

                    .chevron {
                        transition: transform 0.3s ease;
                        margin-right: 10px;
                        width: 1rem;
                    }

                    .chevron.down {
                        transform: rotate(180deg);
                    }
                    img {
                        width: 1.75rem;
                    }
                    h4 {
                        margin: 0;
                        padding: 1.25rem 0;
                        @media (max-width: $bp-small) {
                            padding: 2rem 0;
                        }
                    }
                }
                &__content {
                }
            }
            .accordion-item__content {
                display: none;
            }

            .accordion-item.active .accordion-item__content {
                display: block;
            }
        }
    }
}
