.page-hero {
  position: relative;

  .container {
    padding-top: 5rem;
    @media (max-width: $bp-small) {
      padding-top: 1rem;
    }
  }
  .monitor-linen-bars {
    position: absolute;
    background-color: $color-linen;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
  }
  .page-hero-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 10.2rem;
    @media (max-width: $bp-small) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
    @media(min-width: 1800px){
      h1 {
        font-size: 4rem;
      }
    }
    @media(min-width: 800px) and (max-width: 1800px){
      h1 {
        font-size: 4.5rem;
      }
    }
    h1 {
      @media (max-width: 1050px) and (min-width: 900px) {
        font-size: 4.5rem;
      }
      @media (max-width: 900px) and (min-width: 800px) {
        font-size: 4rem;
      }
      @media(max-height: 900px){
        font-size: 3.7rem;
      }
    }

    &__left {
      padding-bottom: 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: $bp-small) {
        text-align: center;
        padding-right: 0;
        padding-bottom: 0;
      }

      .btn-wrapper {
        margin-top: 5%;
        @media(max-height: 900px){
          margin-top: 0;
        }
        @media (max-width: 1100px) and (min-width: 800px) {
          margin-top: 0;
        }
        @media (max-width: $bp-small) {
          margin: 3.8125rem 0;
        }
        a {
          color: $color-licorice;
        }
        p {
          @media (max-width: $bp-small) {
            margin-bottom: 0;
          }
        }
      }

    }
    &__right {
      position: relative;
      text-align: right;
      .desktop-image {
        width: 100%;
        height: 37vw;
        min-height: 31.25rem;
        mask-image: url("../images/page-hero-mask.svg");
        mask-size: cover;
        mask-position: top right;
        border-radius: 10px;
        mask-repeat: no-repeat;
        @media(max-height: 850px){
          height: 31vh;
        }
        @media(min-width: 1800px){
          // background-color: red;
        }
        @media (min-width: 1800px) {
          max-height: 31.25rem;
        }
        @media (max-width: 800px) {
          display: none;
        }
      }
      .mobile-image {
        width: 100%;
        height: 68vw;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        border-radius: 10px;
        mask-size: cover;
        mask-image: url("../images/page-hero-mobile-mask.svg");
        @media (min-width: 800px) {
          display: none;
        }
      }
    }
  }
}
