

.source-aq-cta {
    .source-aq-cta-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6.875rem;
        &__left {
            .content-wrapper {
                
            }

        }
        &__right {

        }
    }
}