.testimonial {
  text-align: center;
  // padding-top: 11.5rem;
  // padding-bottom: 11.5rem;

  .slick-dotted.slick-slider {
    margin-bottom: 4.0625rem;
  }

  @media(max-width: $bp-small) {
    // padding-top: 5rem;
    // padding-bottom: 5rem;
  }

  &__title {
    text-transform: uppercase;
    color: $color-red;
    font-weight: 700;
  }

  &__slides {
    padding-bottom: $spacing-small;
  }

  &__quote {
    height: 9rem;
    h3 {
      max-width: 67.5rem;
      margin: auto;

      &:before {
        content: '“';
        color: $color-red;
      }
      &:after {
        content: '”';
        color: $color-red;
      }
    }
    p {
      margin-top: 2.5rem;
      padding-bottom: $spacing-small;
    }
  }

  .slick-dots li button {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 0.625rem;
    background: #d9d9d9;

    &::before {
      content: none;
    }
  }

  .slick-dots li.slick-active button {
    background: $color-red;
  }
}
