.thank-you {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    column-gap: 6.875rem;
    padding: 4rem 0;
    min-height: 35vh;
    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;
    }
    &__left {
        @media (max-width: 800px) {
            text-align: center;
            margin-bottom: 3.5rem;
        }
    }
    &__right {
        flex: 0 0 440px;
        @media (max-width: 800px) {
            flex: unset;
        }
        position: relative;
        .image-wrapper {
            mask-image: url("../images/image-content/image-content-mask.svg");
            mask-size: cover;
            mask-repeat: round;
            mask-position: unset;
            height: 19vw;
            max-height: 16rem;
            width: 100%;
            // position: absolute;
            // top: -2.8125rem;
            @media (max-width: 800px) {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                display: block;
                margin: 0;
            }
        }
        .image-wrapper-mobile {
            @media (min-width: 800px) {
                display: none;
            }
            img {
                object-fit: cover;
                width: 100%;
                max-width: 100%;
                mask-image: url("../images/image-content/image-content-mobile-mask.svg");
                mask-size: cover;
                mask-repeat: round;
                mask-position: unset;
            }
        }
    }
}

